<div dir="ltr">Dear Aron,<br><br>Thank you for your time, and your response.<br><br><div class="gmail_quote"><blockquote class="gmail_quote" style="border-left: 1px solid rgb(204, 204, 204); margin: 0pt 0pt 0pt 0.8ex; padding-left: 1ex;">
 The messages you posted show exim failing to open a database lock, then<br>
 failing to open a file in /etc.  The problem appears to be that your new<br>
 hosting site doesn&#39;t have exim configured correctly.<br></blockquote><div><br>But please note that HostMonster/BlueHost is a very popular site, and does a considerable amount of mail hosting as well.<br><br>I set nothing special in my account, and downloaded and tried to build Mutt, with no exceptional features.  This is why I thought the Mutt configuration people would want to know about it.<br>
<br></div><blockquote class="gmail_quote" style="border-left: 1px solid rgb(204, 204, 204); margin: 0pt 0pt 0pt 0.8ex; padding-left: 1ex;">

 You can test without mutt, try calling sendmail (exim) directly:<br>
<br>
 {{{<br>
 $ sendmail -t<br>
 To: <a href="mailto:aaron.naiman@guestwhosolutions.com">aaron.naiman@guestwhosolutions.com</a><br>
 Subject: testing<br>
<br>
 &lt;ctrl-d&gt;<br>
 }}}<br>
<br>
 My guess is that won&#39;t work either.</blockquote><div><br>Actually, it worked like a charm.  So perhaps not the host&#39;s exim confuration?<br> <br></div><blockquote class="gmail_quote" style="border-left: 1px solid rgb(204, 204, 204); margin: 0pt 0pt 0pt 0.8ex; padding-left: 1ex;">
In any case, this isn&#39;t a mutt issue so I&#39;m marking the bug invalid.<br></blockquote><div><br>I understand you, OTOH, I think the configuration should have run smoothly.  JMHO.<br><br>ATB,<br><br>Aaron<br clear="all">
</div></div><br>-- <br>Aaron (&quot;Aharon&quot;) Naiman<br>Jerusalem College of Technology--Machon Lev<br><a href="mailto:naiman@math.jct.ac.il">naiman@math.jct.ac.il</a><br><a href="http://math.jct.ac.il/~naiman">http://math.jct.ac.il/~naiman</a><br>
<br>
</div>
